<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>nice-ui preview</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1336454_723e38ic1jr.css" />
  </head>
  <body class="hz-base-style">
    <div id="app"></div>

    <script>
      window.pageConfig = JSON.parse('<%- pageConfig%>');
    </script>
  </body>
</html>